h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3cm;
    color: blueviolet;
}
.heading {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -20px;
    height: 200px;
    font-size: 0.5cm;
    background-image: linear-gradient(rgb(138, 133, 133));
  }
  #button1 {
    border-radius: 12px;
    margin-top: 30px;
    width: 150px;
    background-color: rgba(166, 154, 212, 0.979);
    color: white;
    font-size: 0.5cm;
  }
  #button2 {
    border-radius: 12px;
    margin-top: 30px;
    width: 150px;
    background-color: rgba(166, 154, 212, 0.979);
    color: white;
    font-size: 0.5cm;
    margin-left: 20px;
  }
  .footer{
      margin-left: 350px;
      margin-top: 50px;
      font-style: oblique;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .test1 {
    margin-top: 80px;
    margin-left: 145px;
  }
  .information {
    float: right;
    margin-right: 570px;
    margin-top: 100px;
  }
  #answers {
    margin-left: 90px;
    line-height: 37px;
  }
  #result {
    font-size: 0.5cm;
    margin-top: 20px;
    font-family: monospace;
  }
